<section class="pt-15.75 pb-17.5">
  <div id="<%= dom_id @author %>" class="max-w-[1170px] mx-auto px-4 sm:px-8 xl:px-0">
    <div
      class="max-w-[140px] mx-auto w-full h-35 rounded-full flex items-center justify-center border border-gray-3">
      <div class="max-w-[100px] w-full h-25 rounded-full overflow-hidden">
        <% if @author.avatar.present? %>
          <%= image_tag url_for(@author.avatar), alt: "Avatar for author " + @author.name %>
        <% end %>
      </div>
    </div>
    <div class="max-w-[770px] mx-auto w-full text-center mb-15 mt-5" >
      <h1
        class="font-bold text-heading-6 lg:text-heading-4 text-dark mb-4">
        <%= @author.name %>
      </h1>
      <p>
        <%= @author.blurb %>
      </p>
    </div>
      <!-- blog item  s -->
    <div id="posts">
      <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <%= render partial: "posts/index_post_item", collection: @posts, as: :post %>
      </div>
    </div>
  </div>
  <div id="next_link">
    <div class="flex justify-center">
      <% if @pagy.next.present? %>
        <%= button_to  "Browse More Posts", @pagy.page_url(:next),  method: :patch,
          class: "inline-block font-medium text-dark border border-dark rounded-md py-3 px-7.5 hover:bg-stone-950 hover:text-white ease-in duration-200 mt-12.5 lg:mt-17.5"  %>
      <% end %>
    </div>
  </div>
</section>
